src/main/resources/helloWorld.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="https://demo-latest-owxa.onrender.com"
	targetNamespace="https://demo-latest-owxa.onrender.com"
	elementFormDefault="qualified">

	<xs:element name="getHelloWorldRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="param" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getHelloWorldResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string" default="default message." />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>